<main role="main" class="main">

	<!-- Main jumbotron for a primary marketing message or call to action -->

	  <div class="container p-0">
		<div class="row py-4">
			<div class="col-auto mr-auto "><h1 class="h3 mb-0 text-gray-800">Good Morning Nagendra!</h1></div>
			<div class="col-auto"><div class="dropdown show">
				<a class="btn  dropdown-toggle bs" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Life Time
				</a>
			  
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				  <a class="dropdown-item" href="#">Action</a>
				  <a class="dropdown-item" href="#">Another action</a>
				  <a class="dropdown-item" href="#">Something else here</a>
				</div>
			  </div></div>
		  </div>
	  </div>


	<div class="container p-0">
	
		<div class="row" id="ads">
		<!-- Category Card -->
		<div class="col-md-3 my-4">
			<div class="card cd rounded">
			
					<div class="card-notify-badge m-auto">Followers</div>
				
			
				<div class="card-body text-center">
					<div class="ad-title m-auto">
						<h5> 150 k</h5>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-3 my-4">
			<div class="card cd rounded text-center m-auto">
				<div class="card-notify-badge m-auto">Total Products</div>
<!--
				<div class="card-image m-auto ">
					<span class="card-notify-badge">Total Products</span>
				</div>
-->
			
				<div class="card-body text-center">
					<div class="ad-title m-auto">
						<h5> 1000</h5>
					</div>
					
				</div>
			</div>
		</div>
	
		<div class="col-md-3 my-4">
			<div class="card cd rounded text-center m-auto">
				<div class="card-notify-badge m-auto">Active Products</div>
<!--
				<div class="card-image m-auto ">
					<span class="card-notify-badge"> Active Products</span>
				</div>
-->
			
				<div class="card-body text-center">
					<div class="ad-title m-auto">
						<h5> 900</h5>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-3 my-4">
			<div class="card cd rounded text-center m-auto">
				<div class="card-notify-badge m-auto">Mail Reach</div>
<!--
				<div class="card-image m-auto ">
					<span class="card-notify-badge">Mail Reach</span>
				</div>
-->
			
				<div class="card-body text-center">
					<div class="ad-title m-auto">
						<h5> 10k</h5>
					</div>
					
				</div>
			</div>
		</div>
	
	</div>
	</div>

  </main>
