.form-control {
  border-color: #eee;
  min-height: 41px;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #619bff;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 750px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2 {
  color: #619bff;
  margin: 0 0 30px 0;
  display: inline-block;
  padding: 0 30px 10px 0;
  border-bottom: 3px solid #619bff;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group row {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  line-height: 2;
  padding: 0px 5px;
}
.signup-form input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #619bff;
  border: none;
  margin-top: 20px;
  min-width: 140px;
}
.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #41cba9;
  outline: none !important;
}
.signup-form a {
  color: #619bff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #619bff;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}

/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: #999;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
  margin-right: 14px;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
table .form-check {
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 0px !important;
}
