<div class="login-container">
  <div class="wrapper float-left">
    <div class="row-data">
      <div class="container form-container">
        <div class="custom-text-width">
          <h1 id="custom-text">Sign up to get your ideas</h1>
        </div>
        <div class="login-form">
          <div class="form-logo">
           <img src = "assets/images/odcetlogoblue.png" style="width: 160px;
           height: 50px;"/>
          </div>
             <!-- <div>
               <h3 class="text-center">Welcome to Odcet</h3>
             </div>      -->
             <form class="loginForm" [formGroup]="forgotPassword" (ngSubmit)="submit()">
              <div class="form-group">
                  <input type="email" class="form-control form-control-user" formControlName="email" placeholder="Enter Email Address..." >
                  <div *ngIf="submitted && !f.email.value" class="text-danger pt-1 ">
                    Email required.
                 </div>
                 <div *ngIf="submitted && f.email.value && f.email.errors" class="pt-1 text-danger">Email must be a valid email address</div>
              </div>
             
              
              <!-- <div *ngIf="submitted && f.email.errors.pattern"  class="text-danger">
                <div *ngIf="f.email.value">
                    Enter valid Email or 10 digits phone number
                </div>
            </div> -->
              <!-- <input  type="submit" class="btn btn-primary btn-user btn-block" value="Reset Password" /> -->
            <button [disabled]="forgotPassword.invalid"
              aria-label=""
              class="red SignupButton active"
            >
              <div>Forgot Password <span class="spinner-border" *ngIf="loading"></span></div> 
            </button>
            </form>
          <hr />
          <div style=" font-size: 12px; text-align: center; margin-top: 35px;" class="pb-3">
            <a class=""[routerLink]="['/login']">Already have an account? Login!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
