.divBlk {
  padding: 10px;
}
.add-image {
  background: #767676;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.circle-o {
  border: 1px solid white;
  border-radius: 60px;
  width: 38px;
  height: 38px;
  position: relative;
  margin: 0 auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.plusSign span {
  font-size: 32px;
}

.block1,
.add-image {
  width: 200px;
  height: 115px;
  margin: 10px;
}
.child2 {
  position: absolute;
  right: -10px;
  top: -8px;
  background: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.parent2 {
  padding: 11px;
  background: #f7f7f7;
  height: 100%;
}

.card {
  background: var(--edu-white);
  -webkit-border-radius: 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

ul {
  list-style: none;
  padding: 0px;
}

.scroll {
  overflow-y: auto;
  height: 120px;
}

.imgBlock{
  border:1px solid lightgray;
  min-height: 400px;
}


.swtext {

	font-size: 17px;
    padding: 0px 18px;
    font-size: 21px;
}	
.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 27px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchBlk input:checked + .slider {
  background-color: #2196F3;
}

.switchBlk input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switchBlk input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
