<!-- <app-loading *ngIf="loading"></app-loading> -->

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 px-0">
           
                <!-- <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">ADD OFFER </h6>
                </div> -->
                    <form  [formGroup]="offerForm"
                    (ngSubmit)="createOffer()" class="d-flex flex-wrap ">
                    <div class="col-md-12 px-4 py-3">
                        <nav class="navbar navbar-expand-sm bg-light py-3 ">
                            <h6 class="m-0 font-weight-bold text-primary">ADD AN OFFER </h6>
                        </nav>
                    </div>
                  
                    <div class="col-md-6">
                        <div class="col-sm-12">
                            <div class="block1 img-container " *ngFor="let url of urls;let i=index">
                                <div class="parent2 position-relative text-center">
                                 <label class="snap-images m-0 ">
                                     <img id="blah2" src="{{url.url?url.url:'assets/images/upload.png'}}" width="100%" height="444px" class="profilepic2 img-preview">
                                     
                                     <input type="file" multiple class="upload2 hide gallery-img-file accept-image d-none" (change)="detectFiles($event,i)" accept="image/*">
                                   
                                 </label>
                                      <!-- <div class="child2">
                                         <span class="fa fa-close removebt" (click)="removeImg(i)"></span>
                                      </div> -->
                                 </div>
                             </div>
                        </div>
                        <div class="divBlk col-sm-12">
                            <label for="description"> Offer Description<span class="man-star">*</span></label>
                            <textarea  id="description" name="description" rows="5" formControlName="description" class="form-control custominp" ></textarea>
                            <div *ngIf="submitted && !f.description.value"  class="text-danger">
                                Description is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="divBlk col-sm-12">
                            <label for="subject"> Select Category<span class="man-star">*</span></label>
                            <select  id="offer_category" name="offer_category" formControlName="offer_category"  class="form-control custominp">
                                <option>Select</option>
                                <option *ngFor="let category of categoriesList" value="{{category.id}}">
                                        {{category.name}}
                                </option>
                            </select>
                         </div>
                        <div class="divBlk col-sm-12">
                            <label for="title"> Subject about the offer<span class="man-star">*</span></label>
                            <input type="text" id="subject" formControlName="title" name="title" class="form-control custominp" />
                         </div>
                         <div class="divBlk col-sm-12">
                            <label for="start_date"> Offer from<span class="man-star">*</span></label>
                            <div class="input-group">
                                <input type="text" id="start_date" name="start_date" class="form-control custominp" formControlName="start_date" ngbDatepicker #d="ngbDatepicker" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                              </div>
                            </div>

                            <!-- <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                              </div> -->

                         </div>
                         <div *ngIf="submitted && !f.start_date.value"  class="text-danger">
                                    Offer from is required
                        </div> 

                        <div class="divBlk col-sm-12">
                            <label for="validUpto"> Offer validity<span class="man-star">*</span></label>
                            <div class="input-group">

                            <input type="text" id="validUpto" name="validUpto" ngbDatepicker #d1="ngbDatepicker" class="form-control custominp" formControlName="validUpto" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                            </div>
                            </div>
                         </div>
                         <div *ngIf="submitted && !f.validUpto.value"  class="text-danger">
                                    Offer validity is required
                        </div> 

                       

                         <div class="divBlk col-sm-12">
                            <label for="validOn"> Valid on</label>
                          
                            <select  id="validOn" name="validOn" formControlName="validOn"  class="form-control custominp">
                                <option>Select</option>
                                <option value="mobile">Mobile</option>
                                <option value="web">Web</option>
                            </select>
                         </div>

                         <div class="divBlk col-sm-12">
                            <label for="promo_code"> Promo Code<span class="man-star">*</span></label>
                            <input type="text" id="offerPrice" name="promo_code" class="form-control custominp" formControlName="promo_code" />
                         </div>
                          <div *ngIf="submitted && !f.offer_price.value"  class="text-danger">
                            Promo is required
                        </div>
                       
                         <div class="divBlk col-sm-12">
                            <label for="whereToPurchase"> Where should user buy <span class="man-star">*</span></label>
                          

                            <select  id="whereToPurchase" name="whereToPurchase" formControlName="where_to_buy" class="form-control custominp" >
                                <option>Select</option>
                                <option *ngFor="let where of whereToBuyList" value="{{where.id}}">
                                        {{where.name}}
                                </option>
                            </select>
                         </div>
                         <div *ngIf="submitted && !f.where_to_buy.value"  class="text-danger">
                            <div *ngIf="!f.where_to_buy.value">
                                Required Field
                            </div>
                        </div>
                        <div class="divBlk col-sm-12" *ngIf="f.where_to_buy.value==1">
                            <label for="links"> Website Link</label>
                            <!-- <input type="text" id="boostProduct" name="boostProduct" class="form-control custominp" value=""> -->
                            <input type="text" id="links" name="links" formControlName="links" class="form-control custominp" />
                         </div>
                    </div>
                       
                         <div class="divBlk d-flex flex-wrap">
                            <!-- <div *ngFor="let url of urls" class="imgBlk">
                                <img  [src]="url" class="rounded mb-3" width="180">
                            </div> -->


                              
                                
                            <!-- <div class="add-image" id="add-image" (click)="addImage()">
                                <div class="circle-o plusSign  "><span>+</span></div>
                                <h6 class="text-center w-100">ADD IMAGE</h6>
                            </div> -->

                            <!-- <input type="file" multiple (change)="detectFiles($event)"> -->
                         </div>
                         <div class="divBlk pt-3 col-md-12 text-center">
                             <input type="submit" class="btn btn-primary mr-2" value="Submit" *ngIf="!offerId" />
                             <input type="submit" class="btn btn-primary" value="Update Offer" *ngIf="offerId" />
                             <!-- <input type="submit" class="btn btn-primary mr-2" value="Preview" *ngIf="!productId" />
                             <input type="submit" class="btn btn-primary" (click) = "submitnew()" value="Submit & add new" *ngIf="!productId" />
                             <input type="submit" class="btn btn-primary" value="Update Product" *ngIf="productId" /> -->
                         </div>
                    </form>
        </div>
    </div>

  </div>

