<app-admin-loading *ngIf="loading"></app-admin-loading>

<div class="col-md-12 py-4 px-5">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="pb-2">Offers</h4>
    <div *ngIf="!showCheckboxes && offersList.length > 0">
      <a (click)="editOffers()">Edit</a>
   </div>
   <div *ngIf="showCheckboxes ">
      <div class="dropdown text-md-left text-center float-md-left mb-3 mt-3 mt-md-0 mb-md-0">
         <label class="mr-2">Select Action:</label>
         <select (change)="selectAction($event)">
            <option value="0">Select</option>
            <option value="1" *ngIf="!selectAll">Check All</option>
            <option value="2" *ngIf="selectAll" >Un Check All</option>
            <option value="5">Delete</option>
            <option value="6">Cancel</option>
         </select>
      </div>
   </div>
  </div>
    
<div class="d-flex flex-wrap">
    <div  *ngFor="let offer of offersList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total };let i=index" class="col-md-6 px-0" >
      <div class="media border p-3 mb-2 ml-2 d-flex">
        <div class="form-check position-absolute" *ngIf="showCheckboxes" style="    z-index: 8;
        left: 22px;
        top: -6px;">
          <label class="form-check-label" for="customCheck{{ i }}">
            <input  id="customCheck{{ i }}"
             type="checkbox"  (change)="selectCheckbox($event,offer.id,i)" [(ngModel)]="offer.isSelected" class="form-check-input"  />
          </label>
        </div>
          <!-- <ng-container [routerLink]="['/admin/create-offer',offer.id]"> -->
            <img src="{{offer.offer_media[0] ? offer.offer_media[0].url : 'assets/logo.png'}}" alt="John Doe" class="mr-3  object-fit-contain" style="width:110px;height:110px">
            <div class="media-body">
            <h4 class="mb-0 text-capitalize">{{offer.title}} <small><i></i></small></h4>

            <p class="mb-0">{{offer.description}}</p>  
            <div class="font-weight-100">Deal ends on: {{formatDate(offer.validUpto)}}.</div>    
            <div class="d-flex justify-content-between">
              <label>
                <span class="font-weight-bold">Use code: </span>
                <span *ngIf="offer.promo_code" class="default-color">{{offer.promo_code}}</span>
                <span *ngIf="!offer.promo_code" class="default-color">No Coupon Code Required!</span>
              </label>
              <a [routerLink]="['/admin/create-offer',offer.id]">View Offer</a>
            </div>
            </div>
          <!-- </ng-container> -->
           

          <div class="d-flex ">
            <a (click)="deleteOffer(offer.id,i)"><i class="fa fa-trash text-danger"></i></a> 
          </div>
       
      </div>
        

        
      </div>
</div>
      <h5 *ngIf="offersList.length == 0" class="text-center">No offers.</h5>
      <div class="has-text-centered text-center pt-4" *ngIf="offersList.length>0">
        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
        <!-- <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> -->

        <pagination-controls
        responsive="true"
        id="server"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
</div>