<app-admin-loading *ngIf="loading"></app-admin-loading>

  <main role="main" class="main">

  <div class="row mx-5">

    <div class="container">
    
        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
        <article class="gallery-wrap"> 
        <!-- <div class="img-big-wrap">
          <div> <a href="#"><img src="marketplace.jpg"></a></div>
        </div>
        <div class="img-small-wrap">
          <div class="item-gallery"> <img src="marketplace.jpg"> </div>
          <div class="item-gallery"> <img src="marketplace.jpg"> </div>
          <div class="item-gallery"> <img src="marketplace.jpg"> </div>
          <div class="item-gallery"> <img src="marketplace.jpg"> </div>
        </div> -->
        <div *ngIf="galleryImages" class="d-flex ml-3 py-3">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

        </div>  

        </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
        <article class="card-body p-5">
          <div class="text-right productIcons">
            <a [routerLink]="['/admin/add-product/',productId,productData.product_common_id]" class="cursor-pointer" title="Edit"><i class="fa fa-edit"></i></a>
            <a (click)="deleteProduct()" class="cursor-pointer" title="Delete"><i class="fa fa-trash"></i></a>
          </div>
            <h3 class="title text-capitalize">{{productData.title}}</h3>
            <h4>{{productData.subject_line}}</h4>
        
        <p class="price-detail-wrap"> 
            <span class="price h3 text-warning"> 
                <span class="currency">₹</span><span class="num">{{productData.actual_price}}</span>
            </span> 
            <span class="pl-2" style="text-decoration: line-through;"> ₹{{productData.offer_price}}</span> 
        </p> <!-- price-detail-wrap .// -->
        <dl class="item-property">
          <dt>Description</dt>
          <dd><p>{{productData.description}} </p></dd>
        </dl>
       
        <dl class="param param-feature">
          <dt>Delivery</dt>
          <dd *ngFor="let area of productData.product_areas">{{area.name}}</dd>
          
        </dl>  <!-- item-property-hor .// -->
        
        <hr>
            <div class="row">
                <div class="col-sm-5">
                    <dl class="param param-inline">
                      <dt>Quantity: </dt>
                      <dd>
                         {{productData.left_pieces}}
                      </dd>
                    </dl>  <!-- item-property .// -->
                </div> <!-- col.// -->
                <div class="col-sm-7">
                    <dl class="param param-inline">
                          <dt>Size: </dt>
                          <dd class="btn btn-sm btn-primary m-1" *ngFor="let size of productData.product_sizes">{{size.name}}</dd>

                    </dl>  <!-- item-property .// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
            <hr>
           
        </article> <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    
    </div>
    <!--container.//-->
   
    
  </div>

  <!-- Content Row -->
</main>