<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
        <table class="table table-striped">
          <tr>
            <td>Name</td>
            <td>{{productData['title']}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{productData['description']}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{productData['offer_price']}}</td>
          </tr>
        </table>
        <br>
       
      </div>
    </div>
  </div> -->


  <div class="row mx-0">

    <div class="container">
    
        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
        <article class="gallery-wrap"> 
        <div class="img-big-wrap">
          <div> <a href="#"><img src="marketplace.jpg"></a></div>
        </div> <!-- slider-product.// -->
        <div class="img-small-wrap">
          <div class="item-gallery"> <img src="marketplace.jpg"> </div>
          <div class="item-gallery"> <img src="marketplace.jpg"> </div>
          <div class="item-gallery"> <img src="marketplace.jpg"> </div>
          <div class="item-gallery"> <img src="marketplace.jpg"> </div>
        </div> <!-- slider-nav.// -->
        </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
        <article class="card-body p-5">
            <h3 class="title mb-3">{{productData.title}}</h3>
        
        <p class="price-detail-wrap"> 
            <span class="price h3 text-warning"> 
                <span class="currency">rs</span><span class="num">{{productData.actual_price}}</span>
            </span> 
            <span>{{productData.offer_price}}</span> 
        </p> <!-- price-detail-wrap .// -->
        <dl class="item-property">
          <dt>Description</dt>
          <dd><p>{{productData.description}} </p></dd>
        </dl>
        <dl class="param param-feature">
          <dt>Model#</dt>
          <dd>12345611</dd>
        </dl>  <!-- item-property-hor .// -->
        <dl class="param param-feature">
          <dt>Color</dt>
          <dd>Black and white</dd>
        </dl>  <!-- item-property-hor .// -->
        <dl class="param param-feature">
          <dt>Delivery</dt>
          <dd>Russia, USA, and Europe</dd>
        </dl>  <!-- item-property-hor .// -->
        
        <hr>
            <div class="row">
                <div class="col-sm-5">
                    <dl class="param param-inline">
                      <dt>Quantity: </dt>
                      <dd>
                         {{productData.left_pieces}}
                      </dd>
                    </dl>  <!-- item-property .// -->
                </div> <!-- col.// -->
                <div class="col-sm-7">
                    <dl class="param param-inline">
                          <dt>Size: </dt>
                          <dd class="btn btn-sm btn-primary" *ngFor="let size of productData.product_sizes">{{size.name}}</dd>

                    </dl>  <!-- item-property .// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
            <hr>
           
        </article> <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    
    </div>
    <!--container.//-->
   
    
  </div>

  <!-- Content Row -->
