<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
        <table class="table table-striped">
          <tr>
            <td>Name</td>
            <td>{{productData['title']}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{productData['description']}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{productData['offer_price']}}</td>
          </tr>
        </table>
        <br>
       
      </div>
    </div>
  </div>