<div class="row mx-0 pt-5 mt-5">
    <div class="col-md-6 m-auto ">
      <div class="card mb-4   ">
        <div class="card-header">
         Profile Information
        </div>
        <div class="card-body">
            <table class="table">
              <tr>
                <th style="border:0px">Username</th>
                <td style="border:0px"> {{user.username}}</td>
              </tr>
              <tr>
                <th>Business Name</th>
                <td>{{user.business_name}}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <th>Category Name </th>
                <td>{{user.business_category_name}}</td>
              </tr>
            </table>
        </div>
      </div>
    </div>
</div>
