<div class="login-container">
  <div class="wrapper float-left">
    <div class="row-data">
      <div class="container form-container">
        <div class="custom-text-width">
          <h1 id="custom-text">Sign up to get your ideas</h1>
        </div>
        <div class="login-form">
          <div class="form-logo">
           <img src = "assets/images/odcetlogoblue.png" style="width: 160px;
           height: 50px;"/>
          </div>
             <!-- <div>
               <h3 class="text-center">Welcome to Odcet</h3>
             </div>      -->
          <form  [formGroup]="loginForm" (ngSubmit)="login()" class="loginForm" >
            <div class="text-center inputAlign">
              <fieldset style="position: relative; margin-bottom: 7px">
                <span
                  ><input
                    aria-invalid="false"
                    autocomplete="username"
                    id="email"
                    name="id"
                    placeholder="Email"
                    formControlName="emailPhone"
                    required
                /></span>
                 <!-- pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@(odcet)+(?:\.[a-zA-Z0-9-]+)*$/" -->
         
              
                <div *ngIf="submitted && f.emailPhone.errors"  class="text-danger">
                  <div *ngIf="f.emailPhone.value">
                    Username is required!
                  </div>
              </div>
              </fieldset>
            </div>
            <div class="text-center inputAlign">
              <fieldset style="position: relative">
                <span
                  ><input
                    id="password"
                    name="password"
                    placeholder="Password"
                    type="password"
                    formControlName="password"
                    required
                /></span>
                <div *ngIf="submitted && !f.password.value" class="text-danger">
                  <div *ngIf="!f.password.value">
                  Password required.
                  </div>
                </div>
              </fieldset>
            </div>
           
            <div style="float: left; margin-bottom: 12px; margin-top: 8px">
              <a
              [routerLink]="['/forgot-password']"
                style="color: #1a73e8; font-size: 14px; font-weight: bold"
                >Forgot password?</a>
            </div>
            <div>
              <button [disabled]="loginForm.invalid"
                aria-label=""
                class="red SignupButton active"
               
              >
                <div>Log in <span class="spinner-border" *ngIf="loading"></span></div> 
              </button>
            </div>
          </form>

          <hr />
          <div style=" font-size: 12px; text-align: center; margin-top: 35px;">
            Not you ? Log in with a different account
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
